# Pegar esto en Render → Environment → Add from .env
# Reemplaza los valores TU_... con los de Aiven
# NO uses el .env local (tiene localhost)

NODE_ENV=production
DB_HOST=TU_HOST_AIVEN
DB_PORT=TU_PUERTO_AIVEN
DB_USER=avnadmin
DB_PASSWORD=TU_PASSWORD_AIVEN
DB_NAME=defaultdb
DB_SSL=true
DB_CA_CERT=PEGA_AQUI_EL_CA_EN_UNA_SOLA_LINEA_CON_\n
JWT_SECRET=cambia-este-secreto-largo-y-aleatorio
APP_URL=https://maqsis-lite.onrender.com
FACTILIZA_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIzODc0MiIsImh0dHA6Ly9zY2hlbWFzLm1pY3Jvc29mdC5jb20vd3MvMjAwOC8wNi9pZGVudGl0eS9jbGFpbXMvcm9sZSI6ImNvbnN1bHRvciJ9.zSXlMD3Y18WbWFJCK79YKjI7IoVZ3n-1cIpqqnYLEpc
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=businesssoftperu@gmail.com
SMTP_PASS=tcam cgpx yurb dyjq
MAIL_FROM=Business Soft <businesssoftperu@gmail.com>
